@tailwind base;
@tailwind components;
@tailwind utilities;
html,body * {
    color: var(--color-dark-primary);
    font-family: number,'yekan-bakh';
    scroll-behavior: smooth;
}
:root{
    --bg-primary : #f5f5f5;
    --color-444:#444;
    --color-gray:rgba(0,0,0,0.5);
    --soft-green:#d2ef9a,
}
