@import "./fonts.css";
@import "toast.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
html,body * {
    color: var(--color-dark-primary);
    font-family: number,'yekan-bakh';
    scroll-behavior: smooth;
}
:root{
    --bg-primary : #f5f5f5;
    --color-primary : #f5f5f5;
    --color-form : #eaeaea88;
    --color-dark-primary : #3b4447;
    --color-444:#444;
    --color-666:#666;
    --color-999:#999;
    --color-da:#dadada;
    --color-gray:rgba(0,0,0,0.5);
    --soft-green:#d2ef9a;
    --border-color:#dee2e6;
    --lighting-color: ;
}
.text-color-999{
    color: var(--color-999);
}
.text-color-444{
    color: var(--color-444);
}
.text-color-666{
    color: var(--color-666);
}
.text-color-primary{
    color: var(--color-primary);
}
.bg-color-primary{
    background: var(--color-primary);
}
.text-color-light{
    color: var(--lighting-color);
}
/*.border{*/
/*    border: 1px solid var(--border-color);*/
/*}*/
.form-color{
    background: var(--color-form);
}
.box-shadow{
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
}
.container{
    max-width: 85%;
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 95%;
    }
}

/* show modal */
.show-modal-leave-active{
    animation: show-modal 1s ease forwards reverse ;
}
.show-modal-enter-active{
    animation: show-modal 1s ease forwards;
}
@keyframes showModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* start scroll-bar */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #111;
}

/*button styles*/
button{
    transition: ease 0.3s transform;
    transform: scale(1);
}
button:active{
    transform: scale(0.98);
}